body {
      display: flex;
      background-color: #2F3136;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

aside {
      flex: 1;
}

main {
      flex: 4;
}

#Online {
      
      list-style-type: none;
      margin: 0;
      color: white;
}

#Online p {
      padding-left: 25px;
}

#onlineUsersList {
      text-align: left;
}

#onlineUsersList li.active {
      background-color: #393c43;
      font-weight: bold;
}

#onlineUsersList li:not(.active) {
      cursor: pointer;
}

#content {
      height: 90vh;
      position: relative;

}

#messages {
      list-style-type: none;
      height: 100%;
      background-color: #393c43;
      overflow-y: scroll;
      color: aliceblue;
}

#feedback {
      position: absolute;
      bottom: 0;
      background-color: #393c43;
      color: white;
}

#messages div {
      margin: 0;
      padding: 10px;
      color: white;
}

form {
      display: flex;
}

#nameinput,
#messageinput {
      padding: 10px;
      background-color: #40444b;
      color: white;
      border: none;
}

#nameinput {
      flex: 1;

}

#messageinput {
      flex: 5;
}

button {
      flex: 1;
      padding: 10px;
      border: none;
      background-color: #496e9c;
      color: white;
}

#login{
      position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}